.container {
  padding: 0 1vw 2vh 1vw;
  max-width: 550px;
}

.first-text {
  display: flex;
  justify-content: space-between;
}
.note {
  font-size: 10px;
}

.address-input .equipment-input {
  display: flex;
  flex-direction: column;
}

.block-input {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  padding-inline: 1vw;
}

.block-pays {
  display: flex;
  justify-content: center;
}
