.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.login-type-button {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2%;
}

.login-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(230, 230, 230);
  padding: 3% 10%;
  border-radius: 30px;
}

.login-input {
  width: 30vw;
}

.alert {
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);
  margin: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
  rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
  rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}