img{
    border-radius: 50%;
    width: 100%;
    max-width: 50px;
    max-height: 50px;
}

h2{
    width: 100%;
}

.logo{
    /* border: solid; */
    display: flex;
    
    /* justify-content: space-between; */
}