#container {
  background-color: rgb(255, 255, 255);
  margin-top: 1vh;
  padding: 1vh 1vh 2vh 1vh;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  max-height: 95vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
}

#btn-appliquer {
  display: flex;
  justify-content: right;
  margin-top: 5%;
  margin-right: 5%;
}

#slider {
  margin: 5% 5%;
}

/* Firefox */
#content {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  overflow-y: auto;
  scrollbar-width: auto;
  scrollbar-color: #339af0 #ffffff;
  gap: 2vh;
}

/* Other */
#content::-webkit-scrollbar {
  width: 15px;
}

#content::-webkit-scrollbar-track {
  background: #ffffff;
}

#content::-webkit-scrollbar-thumb {
  background-color: #339af0;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
